export(CreateCasperObject)
export(lohCallMedianFilterByChr)
export(lohCallMedianFilter)
export(ProcessData)
export(PerformMedianFilter)
export(PerformMedianFilterByChr)
export(CenterSmooth)
export(ControlNormalize)
export(AverageReference)
export(generateParam)
export(runCaSpER)
export(extractLargeScaleEvents)
export(mergeScalesAndGenerateFinalEventSummary)
export(PerformSegmentationWithHMM)
export(calculateLOHShiftsForEachSegment)
export(assignStates)
export(generateLargeScaleEvents)
export(extractEvents)
export(draw_matrix2)
export(draw_colnames_45)
export(plotHeatmap)
export(plotGEAndGT)
export(plotLargeScaleEvent)
export(plotBAFInSeperatePages)
export(plotBAFAllSamples)
export(plotGEAndBAFOneSample)
export(plotBAFOneSample)
export(plotGEAllSamples)
export(calcROC)
export(readBAFExtractOutput)
export(plotLargeScaleEvent2)
export(plotSingleCellLargeScaleEventHeatmap)
export(extractMUAndCooccurence)
export(plotMUAndCooccurence)
export(plotSCellCNVTree)
export(generateAnnotation)
export(getDiffExprGenes)
export(generateEnrichmentSummary)
export(extractSegmentSummary)
export(splitByOverlap)
export(extractLargeScaleEvents)
export(mergeScalesAndGenerateFinalEventSummary)
export(goEnrichmentBP)
export(gene.matrix)
import(igraph)
import(signal)
import(pheatmap)
import(RColorBrewer)
import(grid)
import(HMMcopy)
import(IRanges)
import(ggplot2)
import(reshape)
import(mclust)
import(ggpubr)
import(scales)
import(gridExtra)
import(intergraph)
import(ggnetwork)
import(ape)
import(biomaRt)
import(limma)
import(GO.db)
import(Category)
import(org.Hs.eg.db)
import(GOstats)
